@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.wrapper {
  position:absolute;
  background: rgb(51, 51, 58);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10px 1fr 360px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;
}

.mobileWrapper {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10px 20px 1fr 20px 10px;
  grid-template-rows: 20px 50px 1fr 250px 20px;
}

.navBar {
  grid-column: 2/5;
  grid-row: 2;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
}

.navBarLinks {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(calc(100%/6), 6);
  grid-template-rows: 100%;
}

.navBarLinksFeatures {
  grid-column: 2;
}

.navBarLinksDemo {
  grid-column: 3;
}

.navBarLinksTeam {
  grid-column: 4;
}

.navBarLinksGithub {
  grid-column: 5;
}

.navBarLinksLinkedIn {
  grid-column: 6;
}

.mobileInnerWrapper {
  grid-column: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.team {
  grid-column: 2/5;
  grid-row: 4;
  width: 100%;
  height: fit-content;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home {
  grid-column: 2/5;
  grid-row: 3;
  width: 100%;
  background-color: rgb(102, 102, 54);
}

.button {
  width: 100%;
  background-color: rgb(14, 69, 129);
}

.features {
  grid-column: 2/5;
  grid-row: 3;
  width: 100%;
  background-color: rgb(176, 47, 107);
}

.featureCard {
  width: 100%;
  background-color: rgb(122, 144, 167);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.demo {
  grid-column: 2/5;
  grid-row: 3;
  width: 100%;
  background-color: rgb(47, 176, 101);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
}

.demoSplit {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.teamCards {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(calc(100%/3), 3);
  /* border: #0a0a0a; */
  background-color: red;
}

.teamcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}