.documentationWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
}

.documentationHeader {
  grid-column: 1/3;
  border-bottom: 1px solid black;
  display: grid;
  align-items: center;
}

.documentationImage {
  margin-left: 1rem;
}

.documentationLeftSideBar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  border-right: 1px solid black;
}

.documentationMainWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 2rem 1fr 2rem;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  text-wrap: wrap;
}

.documentationMain {
  grid-column: 2;
}

.documentationLeftHeader {
  padding-left: 10px;
  padding-right: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.documentationLeftHeader:hover {
  background-color: rgb(132, 185, 46);
}

.method {
  margin-bottom: 2rem;
}

.methodsHeader {
  font-size: 3rem;
}

.methodBarIndividual {
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
}

.methodBarIndividual:hover {
  background-color: rgb(132, 185, 46);
}

.methodName {
  font-size: 2rem;
}

.methodDescription {
  font-size: 1rem;
}

.methodRequest {
  display: grid;
  width: 100%;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-rows: 100%;
}

.methodRequestBG {
  background-color: rgb(165, 211, 51);
}

.methodRequestLeft {
  border: 1px solid black;
  border-right: 0px;
}

.methodRequestMid {
  border: 1px solid black;
}

.methodRequestRight {
  border: 1px solid black;
  border-left: 0px;
}

.mRHeader {
  font-weight: bold;
}

.responseStructure {
  font-size: 1.7rem;
}

.responseFormat {
  display: grid;
  grid-template-columns: calc(100% / 3) calc(200% / 3);
}

.responseFormatHeader {
  font-weight: bold;
}

.textLeftPadding {
  padding-left: 0.8rem;
}

.documentationImageLink {
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1000px) {
  .documentationLeftSideBar {
    display: none;
  }

  .documentationMainWrapper {
    grid-column: 1/3;
  }

  .textLeftPadding {
    padding-left: 0.4rem;
  }

  .textHorizontalOverflow::-webkit-scrollbar {
    height: 10px;
  }
}

.textHorizontalOverflow {
  overflow-x: auto;
}